<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <form method="POST" class="form-inline">
      {% csrf_token %}
      <div class="col">
        <div class="card border-left-danger shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                  <div class="alert">
                    ¿Inactivar {{ obj.descripcion }}?
                  </div>
                </div>
                <div class="d-flex">
                  <button type="button" class="btn btn-danger mr-2" id="btnInactivar">Eliminar</button>
                  <button type="submit" class="btn btn-success" onclick="return cerrarModal()">Cancelar</button>
                </div>
              </div>
              <div class="col-auto"><i class="far fa-question-circle fa-2x text-gray-300"></i></div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  $(document).ready(function() {
    const token = $('input[name=csrfmiddlewaretoken]').val();

    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
          xhr.setRequestHeader("X-CSRFToken", token);
        }
      }
    });

    $("#btnInactivar").click(function(e) {
      e.preventDefault();

      const id = {{ obj.id }}
      let template = "{% url 'compra:inactivarProveedor' obj.id %}";
      let data = {"id": id};
      data = JSON.stringify(data);

      $.ajax({
        type: "POST",
        url: template,
        data: data,
        beforeSend: function(xhr, settings) {
          $.ajaxSettings.beforeSend(xhr, settings)
        },
        success: function(response) {
          const tipo = (response.startsWith('Proveedor no existe') ? 'red': 'green');

          cerrarModal();
          mensaje(response, tipo);
        },
        error: function(jqXHR, textStatus, errorThrow) {
          mensaje(errorThrow, 'red');
          cerrarModal();
        }
      });
    });
  });
</script>