{% extends 'base/base.html' %}
{% block Content %}
<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Listado de Compras</h6>
    <div class="dropdown no-arrow">
      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
        <div class="dropdown-header">Acciones:</div>
        <a class="dropdown-item" href="{% url 'compra:nuevaCompra' %}"><i class="far fa-calendar-plus"></i> Nueva</a>
        <a class="dropdown-item" href="{% url 'compra:imprimirCompras' %}" target="reportes"><i class="fas fa-print"></i> Listado</a>
      </div>
    </div>
  </div>
  <div class="card-body">
    {% if not compras %}
    <div class="alert alert-info">No hay compras</div>
    {% endif %}
    <table class="table table-striped table-hover dt-responsive nowrap" style="width: 100%">
      <thead>
        <tr>
          <th>Id</th>
          <th>Fecha</th>
          <th>Observación</th>
          <th>Nr. Factura</th>
          <th>Fecha Factura</th>
          <th>Subtotal</th>
          <th>Descuento</th>
          <th>Total</th>
          <th>Estado</th>
          <th class="all">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for compra in compras %}
        <tr>
          <td>{{ compra.id }}</td>
          <td>{{ compra.fechaCompra }}</td>
          <td>{{ compra.observacion }}</td>
          <td>{{ compra.numFactura }}</td>
          <td>{{ compra.fechaFactura }}</td>
          <td>{{ compra.subTotal }}</td>
          <td>{{ compra.descuento }}</td>
          <td>{{ compra.total }}</td>
          <td>{{ compra.estado|yesno:"Activo,Inactivo" }}</td>
          <td>
            <a href="{% url 'compra:editarCompra' compra.id %}" class="btn btn-warning btn-cicle"><i class="far fa-edit"></i></a>
            <a href="{% url 'compra:imprimirCompra' compra.id %}" class="btn btn-success btn-cicle" target="reportes"><i class="fas fa-print"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block javascript %}
<script>
  $(document).ready(function() {
    $('.table').DataTable({
      "language": {
        "sProcessing": "Procesando...",
        "sLengthMenu": "Mostrar _MENU_ registros",
        "sZeroRecords": "No se encontraron resultados",
        "sEmptyTable": "Ningún dato disponible en esta tabla",
        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix": "",
        "sSearch": "Buscar:",
        "sUrl": "",
        "sInfoThousands": ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst": "<span class='fa fa-angle-double-left'></span>",
            "sLast": "<span class='fa fa-angle-double-right'></span>",
            "sNext": "<span class='fa fa-angle-right'></span>",
            "sPrevious": "<span class='fa fa-angle-left'></span>"
        },
        "oAria": {
            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      }
    })});
</script>
{% endblock %}