<div class="modal-dialog modal-lg">
  <div class="modal-content">
    {% if producto %}
    <form method="POST" role="form" class="form-inline" action="{% url 'inventario:editarProducto' producto.pk %}">
    {% else %}
    <form method="POST" role="form" class="form-inline" action="{% url 'inventario:nuevoProducto' %}">
    {% endif %}
      {% csrf_token %}
      <div class="col-xl-12 col-md-12 mb-12">
        {% if producto %}
        <div class="card border-left-warning shadow h-100 py-2">
        {% else %}
        <div class="card border-left-success shadow h-100 py-2">
        {% endif %}
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">{% if producto %} Editar {% else %} Nuevo {% endif %} Producto</div>
                <div class="dropdown-divider"></div>
                {% csrf_token %}
                <div class="row">
                  {#{ form.as_p }#}
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="col-md-6">{{ form.codigo.label }}</div>
                    <div class="col-md-6">{{ form.codigo }}</div>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-6">{{ form.codigoBarra.label }}</div>
                    <div class="col-md-6">{{ form.codigoBarra }}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="col-md-6">{{ form.descripcion.label }}</div>
                    <div class="col-md-6">{{ form.descripcion }}</div>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-6">{{ form.estado.label }}</div>
                    <div class="col-md-6">{{ form.estado }}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="col-md-6">{{ form.precio.label }}</div>
                    <div class="col-md-6">{{ form.precio }}</div>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-6">{{ form.existencia.label }}</div>
                    <div class="col-md-6">{{ form.existencia }}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="col-md-6">{{ form.ultimaCompra.label }}</div>
                    <div class="col-md-6">{{ form.ultimaCompra }}</div>
                  </div>
                  <div class="col-md-4">
                    <div class="col-md-6">{{ form.marca.label }}</div>
                    <div class="col-md-6">{{ form.marca }}</div>
                  </div>
                  <div class="col-md-4">
                    <div class="col-md-6">{{ form.unidadMedida.label }}</div>
                    <div class="col-md-6">{{ form.unidadMedida }}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="col-md-6">Categoría</div>
                    <div class="col-md-6">
                      <select name="categoria" id="idCategoria" class="form-control form-control-sm">
                        <option value="0">-----</option>
                        {% for categoria in categorias %}
                        <option value="{{categoria.id}}">{{categoria.descripcion}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-6">Sub categoría</div>
                    <div class="col-md-6">
                      <select name="subcategoria" id="idSubcategoria" class="form-control form-control-sm">
                        <option value="0">-----</option>
                        {% for subcategoria in subcategorias %}
                        <option value="{{subcategoria.id}}" data-chained="{{subcategoria.categoria.id}}">{{subcategoria.descripcion}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row">
                  <div class="col">
                    <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span> Guardar</button>
                    <button type="submit" class="btn btn-success" onclick="cerrarModal()"><span class="fa fa-undo"></span> Cancelar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </form>
    </form>
  </div>
</div>
<script>
  $(function() {
    $('#idCategoria').val("{{ producto.subcategoria.categoria.id }}").change();
    $('#idSubcategoria').val("{{ producto.subcategoria.id }}").change();
    $('#idSubcategoria').chained('#idCategoria');
  });
</script>